.listings-container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin:5%
}

.listing-img{
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.listing-div{
    margin: 5%;
    /* text-decoration: 'none'; */
}

.listing-name{
    font-size: small;
    font-weight: bold;
}

.listing-price{
    font-size: small;
}

a.listings-container{
    color:black;

}
a.listings-container:active{
    color:black;
    
}
