.demo-user-btn{
    
    background-color: #FF5A5F;
    color:white;
    font-size:15px;
    display:block;
    width:125px;
    height:40px;
    border: 1px solid white;
    border-radius: 5px;

}

.demo-user-btn:hover{
    background-color: #f62773;
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
}

.copy-right{
    text-align: center;
    position: fixed;
}