.reviews-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:3%;
}

.review-img{
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    font-size: 1.75em;
    height:40px;
    width: 40px;;
}

.single-review{
    display: flex;
    flex-direction: column;
}

.review-user-details{
    display: flex;
}

.rating-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:2% 3% 3% 3%;
}

.single-rating{
    display: flex;
    gap:5%;
}

.progress-bar{
    display: flex;
    align-items: center;
}