.search-bar-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    text-align: center;
    gap:10px;
    background-color: black;
    height: 500px;
    color: white;
    margin: 0 25% 0 5%;
    background-image: url("../../images/searchPage.PNG");
    background-size: 90vw 500px;
}
.search-input{
    height: 50px;
    width: 480px;
    border: black 2px solid;
    border-radius: 5px;
}



.searchbar-icon{
    background-color: white;
    border-radius: 5px;
}

input.search-bar{
    margin: 1% 0 0 10%;
    width: 400px;
    height: 28px;
    padding: 0 20px;
    font-size: 1rem;
    outline: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;

}

select.search-bar{
    margin: 1% auto;
    width: 25%;
    height: 30px;
    padding: 0 20px;
    font-size: 1rem;
    border-left: none;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    outline: none;
}

select.search-bar:hover{
    background-color: rgba(228, 224, 224, 0.331);
}
.search-icon{
    margin: 1% auto;
    position: relative;
    float: right;
    left:-17%;
    width: 35px;
    height: 28px;
    background-color:#FF5A5F;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border: 1px solid grey;

  }

.search-icon:hover{
    background-color: #f9454b;
}

.search-bar-drop-down-menu{
    position: absolute;
    left:18.5%;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    background-color: white;
    padding:3px;
    z-index: 999;
    width: 495px;
  }


  .search{
    display: flex;
  }