/* .search-bar-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    text-align: center;
    gap:10px;
    background-color: #FF5A5F;
    height: 300px;
    margin: 0 25% 0 5%;
} */
.search-input{
    height: 50px;
    width: 480px;
    border: #FF5A5F 2px solid;
    border-radius: 5px;
}

.glass{
    padding-top: 120px;
}