/* TODO Add site wide styles */
body{
    font-family: 'Nunito Sans', sans-serif;
}


.error-text{
    padding: 5px 25px 5px 25px;
    color:red
}

hr{
    margin-top: 0em;
    margin-bottom: 0em;
}

.btn{
    background-color: #FF5A5F;
    color:white;
    margin: 0% 0 5% 0;
    padding:10px 10px 10px 5px;
    display:block;
    width:200px;
    height:45px;
    border:white 1px solid;
    border-radius: 5px;
}

.btn-hov:hover{
    background-color: #f62773;
}

button{
    cursor: pointer;
}
a{
    cursor: pointer;
}
Link{
    cursor: pointer;
}