.login-input-div{
    margin: 0 10% 5% 10%;
    border: 1px solid black;
    border-radius: 5px;
}

.login-modal-title{
    display: flex;
    justify-content: center;
    font-size: larger;
}


#modal-content{
    height: 500px;
    width:500px;
}


input.login-input{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:95%;
    height:15%;
    border:none;
}

.login-modal-btn{
    background-color: #FF5A5F;
    color:white;
    margin: 5% 10% 5% 10%;
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:80%;
    height:15%;
    border:none;
    border-radius: 5px;
}

.login-modal-demo-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

}

.login-btn{
    background-color: #FF5A5F;
    color:white;
    height: 25px;
    width: 60px;
    border:none;
    border-radius: 5px;
}

