

.single-booking-div{
    display: flex;
}
.booking-detail-div{
    margin-left: 10px;
}

.notrip-card{
    display: flex;
    margin: 2em 7em;
    border-radius: .75em;
    border: #E2E2E2 1px solid;
}
.notrip-left{
    margin: 5%;
}
.notrip-card-img{
    width: 600px;
    height: 328px;
    border-top-right-radius: .75em;
    border-bottom-right-radius: .75em;
  }


.booking-sidebar{
    display: flex;
    flex-direction: column;
}
.booking-layout{
    display: flex;
}

.expired-booking-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:3%;
}